@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;

}


<!-- Hero Section Start -->
<section class="hero-section hero-4">
    <div class="array-button">
        <button class="array-prev"><i class="far fa-long-arrow-left"></i></button>
        <button class="array-next"><i class="far fa-long-arrow-right"></i></button>
    </div>
    <div class="swiper hero-slider">
        <div class="swiper-wrapper">

         @foreach (var item in Model.Sliders)
            {
                <div class="swiper-slide">
                    <div class="hero-items">

                        <div class="hero-bg bg-cover" style="background-image: url('uploads/sliders/@item.Image');"></div>
                        <div class="container">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="hero-content">
                                        <h1 data-animation="fadeInUp" data-delay="1.5s">
                                            @(lang == "az" ? item.TitleAz :
                                                lang == "en" ? item.TitleEn :
                                                lang == "ru" ? item.TitleRu : item.TitleAz)
                                        </h1>
                                        <p data-animation="fadeInUp" data-delay="1.7s">
                                            @(lang == "az" ? item.DescriptionAz :
                                                lang == "en" ? item.DescriptionEn :
                                                lang == "ru" ? item.DescriptionRu : item.DescriptionAz)
                                        </p>
                                        <a href="@item.BtnUrl" class="theme-btn theme-btn-2 wow fadeInUp" data-wow-delay=".5s" style=" position: absolute;  right: 40px;  bottom: 50px;">
                                            <span>
                                                @(lang == "az" ? item.ButtonTextAz :
                                                    lang == "en" ? item.ButtonTextEn :
                                                    lang == "ru" ? item.ButtonTextRu : item.ButtonTextAz)
                                            </span> <i class="far fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>

<!-- Trending Section Start -->
@* <section class="trending-destinations section-padding fix">
    <div class="container">
        <div class="section-title-area lg-center">
            <div class="section-title">
                <h2 class="wow fadeInUp" data-wow-delay=".3s">Trenddə olan Səyahət Yerləri</h2>
            </div>
           
        </div>
        <div class="row">
         @foreach (var item in Model.Locations)
            {
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="trending-destinations-card-items">
                        <div class="destinations-img">
                            <img src="~/uploads/locations/@item.Image" alt="img">
                            @*  <div class="icon">
                        <a href="~/destination-details.html">
                        <i class="fas fa-arrow-right"></i>
                        </a>
                        </div> 
                            <ul class="destinations-content">
                                <li class="title">
                                    <a href="#">@item.NameAz</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
 *@
<!-- Tour Section Start -->
<section class="tour-section fix section-padding">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="wow fadeInUp" data-wow-delay=".3s">@localizer.GetLocalizedHtmlString("popular tours")</h2>
            
        </div>
        <div class="row">
            @foreach (var item in Model.Tours.Where(t => t.IsPopular))
            {
              <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                            <div class="tour-box-items mt-0">
                                <div class="thumb">
                                    <img src="~/uploads/tours/@item.Image" alt="img" class="img-fluid rounded">
                                </div>
                                <div class="content">
                                    <span>
                                @(lang == "az" ? item.Categorie.NameAz :
                                    lang == "en" ? item.Categorie.NameEn :
                                    lang == "ru" ? item.Categorie.NameRu : item.Categorie.NameAz)
                                    </span>
                                    <h4>
                                        <a href="@Url.Action("Detail", "Tour", new { id = item.Id })">
                                    @(lang == "az" ? item.NameAz :
                                        lang == "en" ? item.NameEn :
                                        lang == "ru" ? item.NameRu : item.NameAz)
                                        </a>
                                    </h4>
                                    <h6>
                                        <span>$@item.DiscountedPrice</span>
                                        <del>$@item.Price</del>
                                    </h6>
                                    <ul class="list">
                                        <li>
                                            <i class="far fa-calendar"></i>
                                    @(lang == "az" ? item.DurationAz :
                                        lang == "en" ? item.DurationEn :
                                        lang == "ru" ? item.DurationRu : item.DurationAz)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                
            }
        </div>
    </div>
</section>


<!-- Instagram Section Start -->
<div class="section-title text-center">
    <h2 class="wow fadeInUp" data-wow-delay=".9s">@localizer.GetLocalizedHtmlString("follow us instagram")</h2>
</div>
<div class="instagram-section fix">
    <div class="swiper instagram-slider">
        <div class="swiper-wrapper">
          @foreach (var item in Model.InstaPhotos)
            {
                <div class="swiper-slide">
                    <div class="instagram-image">
                        <img src="~/uploads/instaphotos/@item.Image" alt="img">
                        <a href="https://www.instagram.com/denizthai/" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>

</div>
