@model PaginatedList<Location>
@{
    ViewData["Title"] = "Index";
    int order = 0;
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Olkeler</h1>
        
        <div class="col-md-4">
                <a class="btn btn-primary" asp-action="create">Create</a>
            </div>
        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Şəkil</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Items)
                {
                    order++;
                    <tr>
                        <th scope="row">@order</th>
                        <th scope="row">@item.NameAz</th>
                        <td><img src="~/uploads/locations/@item.Image" width="70"/></td>
                        
                        <td>
                            <a class="btn btn-warning" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table
    </div>
     <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.HasPrev?"":"disabled")">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" asp-route-search="@ViewBag.Search" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <li class="page-item @(i==Model.PageIndex?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i" asp-route-search="@ViewBag.Search">@i</a></li>
                }
                <li class="page-item @(Model.HasNext?"":"disabled")">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)" asp-route-search="@ViewBag.Search">Next</a>
                </li>
            </ul>
        </nav>
</div>


