@using Denizthai.Services
@inject LayoutService _layoutService

@{
    var settings = _layoutService.GetSettings();
}

<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->
<!-- Mirrored from modinatheme.com/html/travil/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Mar 2025 18:44:06 GMT -->
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="modinatheme">
    <meta name="description" content="Deniz Thai">
    <!-- ======== Page title ============ -->
    <title>Deniz Thai</title>
    <!--<< Favicon >>-->
    <link rel="shortcut icon" href="~/assets/img/logo/ba1a8762-9bbf-4016-a1ae-e3341cb9017a.jpg">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!--<< Font Awesome.css >>-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!--<< Odometer.css >>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/assets/css/odometer.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">
    <!--<< DatePicker.css >>-->
    <link rel="stylesheet" href="~/assets/css/datepickerboot.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!--<< Style.css >>-->
    <link rel="stylesheet" href="~/style.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LJMFTYJ5EX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LJMFTYJ5EX');
    </script>
</head>

<style>
    .whatsapp-float {
        position: fixed;
        bottom: 80px;
        right: 20px;
        z-index: 999;
        background-color: #25D366;
        border-radius: 50%;
        padding: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        transition: transform 0.3s ease;
    }

        .whatsapp-float:hover {
            transform: scale(1.1);
        }

        .whatsapp-float img {
            width: 35px;
            height: 35px;
            display: block;
        }
        @@media (max-width: 768px) {
  .ml-mobile-20 {
    margin-left: 60px !important;
  }
}
</style>

<body>

    <!-- Preloader Start -->
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
            <div class="txt-loading">
                <span data-text-preloader="D" class="letters-loading">
                    D
                </span>
                <span data-text-preloader="E" class="letters-loading">
                    E
                </span>
                <span data-text-preloader="N" class="letters-loading">
                    N
                </span>
                <span data-text-preloader="I" class="letters-loading">
                    I
                </span>
                <span data-text-preloader="Z" class="letters-loading">
                    Z
                </span>
                <span data-text-preloader="T" class="letters-loading">
                    T
                </span>
                <span data-text-preloader="H" class="letters-loading">
                    H
                </span>
                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>
                <span data-text-preloader="I" class="letters-loading">
                    I
                </span>
            </div>
            <p class="text-center">Loading...</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back To Top start -->
    <button id="back-top" class="back-to-top">
        <i class="fas fa-long-arrow-up"></i>
    </button>
    @foreach (var setting in settings)
    {
        <a href="https://wa.me/@setting.Phone"
           class="whatsapp-float"
           target="_blank"
           title="Bizimlə WhatsAppda əlaqə saxlayın">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp" />
        </a>
    }

    <!-- Offcanvas Area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">

                        <div class="offcanvas__logo">

                            <a asp-action="index" asp-controller="home">
                                <img src="~/assets/img/logo/ba1a8762-9bbf-4016-a1ae-e3341cb9017a.jpg" alt="logo-img" style="width:230px">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>

                    </div>

                    <div class="mobile-menu fix mb-3"></div>
                    <div class="btn-group" role="group" aria-label="Language switch">
                        <a class="btn btn-outline-primary d-flex align-items-center gap-2 @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "az" ? "active" : "")"
                           href="@Url.Action("ChangeLanguage", "Language", new { lang = "az", returnUrl = Context.Request.Path + Context.Request.QueryString })">
                            <span class="flag-icon flag-icon-az"></span> AZ
                        </a>
                        <a class="btn btn-outline-primary d-flex align-items-center gap-2 @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "en" ? "active" : "")"
                           href="@Url.Action("ChangeLanguage", "Language", new { lang = "en", returnUrl = Context.Request.Path + Context.Request.QueryString })">
                            <span class="flag-icon flag-icon-gb"></span> EN
                        </a>
                        <a class="btn btn-outline-primary d-flex align-items-center gap-2 @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru" ? "active" : "")"
                           href="@Url.Action("ChangeLanguage", "Language", new { lang = "ru", returnUrl = Context.Request.Path + Context.Request.QueryString })">
                            <span class="flag-icon flag-icon-ru"></span> RU
                        </a>
                    </div>
                    <div class="offcanvas__contact">
                        @foreach (var setting in settings)
                        {
                            <div class="social-icon d-flex align-items-center">
                                <a href="@setting.InstaLink"><i class="fab fa-instagram"></i></a>
                                <a href="@setting.TelegramLink"><i class="fab fa-telegram"></i></a>
                                <a href="https://wa.me/@setting.Phone"><i class="fab fa-whatsapp"></i></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <!-- Header Section Start -->
    <header class="header-section header-inner">
        <div class="header-top-section">
            <div class="container-fluid">
                <div class="header-top-wrapper">
                    <div class="btn-group" role="group" aria-label="Language switch">
                        <a class="btn btn-outline-primary d-flex align-items-center gap-2 @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "az" ? "active" : "")"
                           href="@Url.Action("ChangeLanguage", "Language", new { lang = "az", returnUrl = Context.Request.Path + Context.Request.QueryString })">
                            <span class="flag-icon flag-icon-az"></span> AZ
                        </a>
                        <a class="btn btn-outline-primary d-flex align-items-center gap-2 @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "en" ? "active" : "")"
                           href="@Url.Action("ChangeLanguage", "Language", new { lang = "en", returnUrl = Context.Request.Path + Context.Request.QueryString })">
                            <span class="flag-icon flag-icon-gb"></span> EN
                        </a>
                        <a class="btn btn-outline-primary d-flex align-items-center gap-2 @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru" ? "active" : "")"
                           href="@Url.Action("ChangeLanguage", "Language", new { lang = "ru", returnUrl = Context.Request.Path + Context.Request.QueryString })">
                            <span class="flag-icon flag-icon-ru"></span> RU
                        </a>
                    </div>
                    <ul class="top-left">
                        @foreach (var setting in settings)
                        {
                            <li>
                                <i class="far fa-map-marker-alt"></i>
                                @setting.AddressAz

                            </li>
                        }
                    </ul>
                    
                    @foreach (var setting in settings)
                    {
                        <div class="social-icon">
                            <a href="@setting.InstaLink"><i class="fab fa-instagram"></i></a>
                            <a href="@setting.TelegramLink"><i class="fab fa-telegram"></i></a>
                            <a href="https://wa.me/@setting.Phone"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="header-sticky" class="header-1 header-4">
            <div class="container-fluid">
                <div class="mega-menu-wrapper">
                    <div class="header-main">
                        <div class="header-left">

                            <div class="logo">
                                 
                                <a asp-action="index" asp-controller="home" class="header-logo">
                                    <img src="~/assets/img/logo/ba1a8762-9bbf-4016-a1ae-e3341cb9017a.jpg" alt="logo-img" style="width:230px">
                                </a>
                            </div>
                        </div>
                        <div class="header-right d-flex justify-content-end align-items-center">
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                   
                                    <nav id="mobile-menu">




                                        <ul>
                                            <li class="has-dropdown menu-thumb">
                                                <a asp-action="index" asp-controller="home">
                                                    @localizer.GetLocalizedHtmlString("home")
                                                </a>
                                            </li>
                                            <li class="has-dropdown active d-xl-none">
                                                <a asp-action="index" asp-controller="home" class="border-none">
                                                    @localizer.GetLocalizedHtmlString("home")
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-action="index" asp-controller="tour">
                                                    @localizer.GetLocalizedHtmlString("tour")
                                                </a>

                                            </li>


                                            <li>
                                                <a asp-action="index" asp-controller="about">
                                                    @localizer.GetLocalizedHtmlString("about us")
                                                </a>

                                            </li>
                                            <li>
                                                <a asp-action="index" asp-controller="faq">
                                                    @localizer.GetLocalizedHtmlString("faq")
                                                </a>
                                            </li>
                                        </ul>

                                        
                                    </nav>
                                </div>
                            </div>

                            <a asp-action="index" asp-controller="contact" class="theme-btn">
                                <span>@localizer.GetLocalizedHtmlString("contact us")</span> <i class="far fa-long-arrow-right"></i>
                            </a>

                           


                            <div class="header__hamburger d-xl-none my-auto">
                                <div class="sidebar__toggle">
                                    <div class="header-bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <!-- Footer Section Start -->
            <div style="height: 2px; background: linear-gradient(to right, #0d6efd, #6c757d); margin: 40px 0;"></div>
    <footer class="footer-section fix section-bg bg-cover">
        <div class="container">
            <div class="footer-wrapper" style="padding:20px 0px 20px">
                <div class="row text-center text-lg-start" style="justify-content: space-around;">
                    <div class="col-xl-12 col-lg-12 col-md-12" style="display:contents">
                           @foreach (var setting in settings)
                            { 
                                <div class="widget-title col-lg-4 mb-4 mb-lg-0" style="width:230px">
                                    <a href="~/index.html" class="footer-logo">
                                        <img src="~/assets/img/logo/ba1a8762-9bbf-4016-a1ae-e3341cb9017a.jpg" alt="img" style="width:230px">
                                    </a>
                                </div>
                            <div class="footer-content col-lg-4 mb-4 mb-lg-0 ml-mobile-20">
                                    <div class="contact-info-items d-flex align-items-center align-items-lg-start gap-2">
                                        <div class="contact-items">
                                            <div class="icon">
                                                <img src="~/assets/img/call.png" alt="img">
                                            </div>
                                            <div class="content d-flex align-items-center gap-2">
                                                <h6><a href="https://wa.me/@setting.Phone">@setting.Phone</a></h6>
                                            </div>
                                        </div>
                                        <div class="contact-items d-flex align-items-center gap-2">
                                            <div class="icon">
                                                <img src="~/assets/img/mail.png" alt="img">
                                            </div>
                                            <div class="content">
                                                <h6>
                                                    <a href="mailto:@setting.Email"><span class="__cf_email__"> @setting.Email </span></a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            <!-- Sosial şəbəkələr -->
                            <div class="social-icon d-flex flex-row gap-2" style="margin-left:40px;     padding-bottom: 15px;">
                                <a href="@setting.InstaLink" class="text-dark d-flex align-items-center gap-2">
                                    <i class="fab fa-instagram"></i> <span>Instagram</span>
                                </a>
                                <a href="@setting.TelegramLink" class="text-dark d-flex align-items-center gap-2">
                                    <i class="fab fa-telegram"></i> <span>Telegram</span>
                                </a>
                                <a href="https://wa.me/@setting.Phone" class="text-dark d-flex align-items-center gap-2">
                                    <i class="fab fa-whatsapp"></i> <span>WhatsApp</span>
                                </a>
                            </div>

                            }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-1">
            <div class="container">
                <div class="footer-bottom-wrapper">
                    <p>
                        © Created by <a href="https://wa.me/+994505481996">Elmeddin Mirzeyev.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!--<< All JS Plugins >>-->
    <script data-cfasync="false" src="~/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--<< Nice Select Js >>-->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <!--<< Odometer Js >>-->
    <script src="~/assets/js/odometer.min.js"></script>
    <!--<< Appear Js >>-->
    <script src="~/assets/js/jquery.appear.min.js"></script>
    <!--<< Datepicker Js >>-->
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="~/assets/js/wow.min.js"></script>
    <!--<< Main.js >>-->
    <script src="~/assets/js/main.js"></script>
</body>

<!-- Mirrored from modinatheme.com/html/travil/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Mar 2025 18:44:33 GMT -->
</html>
